<!DOCTYPE html>
<html xmlns:th="http://thymelead.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        section {
            background-color: rgba(0,0,0,0.6);
            height: 100vh;
            color: white;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <div class="container mt-5" sec:authorize="isAuthenticated()">
            <div class="alert alert-success">
                You are already loged in!
            </div>
        </div>
        <div class="back py-5 d-grid justify-content-center" sec:authorize="!isAuthenticated()">
            <div th:if="${param.error}" class="alert alert-success">
                Invalid username and password
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <form id="form" class="needs-validation" role="form" method="post" th:action="@{/login}">
                <div class="mb-2">
                    <div class="mb-2">
                        <label for="username" class="h5">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="h5">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" value="Log in" type="submit">Login</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>